<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  
  <!-- Register custom configuration section -->
  <configSections>
    <section name="observability" type="mylogging.observability.Framework.ObservabilitySettings, mylogging.observability" />
  </configSections>

  <!-- Observability Configuration -->
  <observability serviceName="RedactionWcfService" 
                 applicationName="RedactionWCF" 
                 businessProcess="AppointmentManagement"
                 serviceVersion="1.0.0" 
                 serviceNamespace="RedactionWcf.Services"
                 serviceInstanceId="instance-001"
                 enableRequestResponseLogging="true" 
                 enableRedaction="true" 
                 logLevel="Information"
                 exportBatchSize="100" 
                 exportTimeoutSeconds="30">
    
    <!-- Exporter Configuration -->
    <exporter enableConsole="true" 
              enableOtlp="false" 
              otlpEndpoint="http://localhost:4317">
      <headers>
        <add key="Authorization" value="Bearer your-token-here" />
        <add key="X-Custom-Header" value="custom-value" />
      </headers>
    </exporter>

    <!-- Splunk Exporter Configuration -->
    <splunkExporter url="http://localhost:8088" 
                    token="your-splunk-token" 
                    source="redaction-wcf" 
                    sourcetype="_json"
                    isBatchJob="true" 
                    index="main" 
                    maxQueueSize="2048" 
                    maxExportBatchSize="512"
                    scheduledDelayMilliseconds="5000" 
                    exportTimeoutSeconds="30" 
                    host="localhost" />

    <!-- Redaction Configuration -->
    <redaction redactionText="[REDACTED]" 
               redactHeaders="true" 
               redactQueryParams="true"
               redactRequestBody="true" 
               redactResponseBody="true">
      <sensitiveKeys>
        <add value="password" />
        <add value="pwd" />
        <add value="secret" />
        <add value="token" />
        <add value="apiKey" />
        <add value="api_key" />
        <add value="creditCard" />
        <add value="ssn" />
        <add value="authorization" />
        <add value="bearer" />
      </sensitiveKeys>
    </redaction>

    <!-- Request/Response Logging Configuration -->
    <requestResponseLogging logRequestHeaders="true" 
                           logResponseHeaders="true"
                           logRequestBody="true" 
                           logResponseBody="true" 
                           maxBodySize="10240">
      <excludePaths>
        <add value="/health" />
        <add value="/metrics" />
        <add value="/favicon.ico" />
      </excludePaths>
      <includeContentTypes>
        <add value="application/json" />
        <add value="application/xml" />
        <add value="text/xml" />
        <add value="text/plain" />
      </includeContentTypes>
      
      <!-- NEW: Correlation ID Header Names -->
      <correlationIdHeaders>
        <add value="X-Correlation-Id" />
        <add value="CorrelationId" />
        <add value="x-correlation-id" />
        <add value="correlationId" />
        <add value="Correlation-Id" />
        <add value="correlation-id" />
      </correlationIdHeaders>
      
      <!-- NEW: Consumer ID Header Names -->
      <consumerIdHeaders>
        <add value="X-Consumer-Id" />
        <add value="ConsumerId" />
        <add value="x-consumer-id" />
        <add value="consumerId" />
        <add value="Consumer-Id" />
        <add value="consumer-id" />
      </consumerIdHeaders>
      
      <!-- NEW: User ID Header Names -->
      <userIdHeaders>
        <add value="X-User-Id" />
        <add value="UserId" />
        <add value="x-user-id" />
        <add value="userId" />
        <add value="User-Id" />
        <add value="user-id" />
      </userIdHeaders>
    </requestResponseLogging>

    <!-- Tracing Configuration -->
    <tracing enableCustomInstrumentation="true" 
             enableHttpClientInstrumentation="true"
             enableHttpServerInstrumentation="true" 
             enableSqlClientInstrumentation="true"
             recordException="true" 
             maxTagValueLength="1024" 
             maxEventCount="128"
             maxLinkCount="128" 
             maxTagCount="128">
      <activitySources>
        <add value="WCF.Custom.Telemetry" />
        <add value="RedactionWcf" />
        <add value="System.Net.Http" />
      </activitySources>
    </tracing>

    <!-- Metrics Configuration -->
    <metrics enableCustomMetrics="true" 
             enableHttpClientMetrics="true"
             enableHttpServerMetrics="true" 
             enableRuntimeMetrics="true"
             maxMetricPointsPerMetric="2000" 
             metricExportIntervalSeconds="60"
             metricExportTimeoutSeconds="30">
      <meterNames>
        <add value="RedactionWcf.Appointments" />
        <add value="RedactionWcf.Performance" />
      </meterNames>
    </metrics>

    <!-- Logging Configuration -->
    <logging enableConsoleLogging="true" minimumLevel="Information">
      <categoryLevels>
        <add key="Microsoft" value="Warning" />
        <add key="System" value="Warning" />
        <add key="RedactionWcf" value="Information" />
        <add key="mylogging.observability" value="Debug" />
      </categoryLevels>
    </logging>

    <!-- Service Attributes -->
    <serviceAttributes>
      <add key="environment" value="development" />
      <add key="datacenter" value="us-east-1" />
      <add key="team" value="platform-engineering" />
      <add key="cost-center" value="engineering" />
    </serviceAttributes>
  </observability>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <!-- Register HTTP Module for Classic Mode / IIS Classic Pipeline -->
    <!--<httpModules>
      <add name="RequestResponseLoggingModule" type="RedactionWcf.Modules.RequestResponseLoggingModule, RedactionWcf" />
    </httpModules>-->
  </system.web>
  
  <!-- WCF Service Configuration -->
  <system.serviceModel>
    <services>
      <service name="RedactionWcf.Services.AppointmentService" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="RedactionWcf.Services.IAppointmentService" behaviorConfiguration="webBehavior" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp automaticFormatSelectionEnabled="true" defaultOutgoingResponseFormat="Json" helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
  <system.webServer>
    <!-- Register HTTP Module for IIS Integrated Mode -->
    <modules>
      <!--<add name="RequestResponseLoggingModule" type="mylogging.observability.Framework.RequestResponseLoggingModule, mylogging.observability" />-->
      <add name="TelemetryHttpModule" type="mylogging.observability.Framework.TelemetryHttpModule, mylogging.observability" />
    </modules>
    
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.10" newVersion="9.0.0.10" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.10" newVersion="9.0.0.10" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.10" newVersion="9.0.0.10" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.10" newVersion="9.0.0.10" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.10" newVersion="9.0.0.10" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.10" newVersion="9.0.0.10" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.10" newVersion="9.0.0.10" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.1" newVersion="4.0.5.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.10" newVersion="9.0.0.10" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
  </compilers>
  </system.codedom>
</configuration>